#System Build folders
/.vscode
**/__pycache__
PoomsaeProConnector/__pycache__

#LaTeX build Files
*.jpg
/LaTeX/**/*.aux
/LaTeX/**/*.log
/LaTeX/**/*.pdf
/LaTeX/**/*.gz
/LaTeX/**/*.fls
/LaTeX/**/*.fdb_latexmk

#Event Data
#No event data is permitted on the GitHub for the project
/data
PoomsaeProConnector/PoomsaePro.db

#Ad Hoc Files for specific events
output.txt
PoomsaeProConnector/2024GPFinalFix.py